.filter-body {
  display: flex;
  min-height: 15px;
  margin: 7px 0 9px 0;
  cursor: pointer;
  position: relative;
  padding: 0 0 0 27px;

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;

    input {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 1;
      cursor: pointer;

      &:checked {
        opacity: 0;

        & + .filter-body__checkbox__icon {
          opacity: 1;
        }
      }
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(#f8a839,#fddb38);
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      opacity: 0;
      transition: opacity .2s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__label {
    font: 14px/1.4615 Roboto,sans-serif;
    line-height: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    &__color {
      width: 24px;
      height: 24px;
      border: 1px solid rgba(0, 0, 0, .05);
      border-radius: 50%;
      box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.25);
      margin-right: 10px;
      line-height: 18px;
    }

    &__badge {
      margin-left: 4px;
      color: #767676;
      opacity: .9;
    }
  }
}
